* {
    margin: 0;
}

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    color: var(--text-base);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#background {
    background-color: var(--background);
    z-index: 0;
    justify-content: flex-start;
    flex-basis: 50%;
}

#imgbg {
    display: flex;
    flex-basis: 50%;
    z-index: 0;
    justify-content: flex-end;
}

#logo {
    color: var(--text-base);
    position: absolute;
    width: 115px;
    height: 28px;
    left: 40px;
    top: 40px;
    z-index: 1;

}

#form {
    z-index: 1;
    position: absolute;
    width: 572px;
    height: 512px;
    left: 74px;
    top: 194px;

    background: #24221F;
    border-radius: 4px;
}

h1 {
    color: var(--text-title);
}

a, #registro {
    text-decoration: none;
    position: absolute;
    width: 153px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFC632;
    
}

#header {
    position: absolute;
    z-index: 2;
    width: 334px;
    height: 64px;
    left: 119px;
    top: 55px;
    justify-content: left;
}

#email:nth-child(3) {
    padding-left: 50px;
    box-sizing: border-box;
    position: absolute;
    width: 335px;
    height: 44px;
    left: 119px;
    top: 175px;
    
}

#email:nth-child(1) {
    position: absolute;
    top: 146px;
    left: 119px;
}

input {
    background-color: var(--background);
}

#senha {
    box-sizing: border-box;
    position: absolute;
    width: 335px;
    height: 44px;
    left: 119px;
    top: 268px;
    padding-left: 50px;

    border: 1px solid #868686;
    border-radius: 4px;
}

#lsenha {
    position: absolute;
    width: 52px;
    left: 119px;
    top: 239px;
}

#lembreme {
    position: absolute;
    width: 81px;
    height: 19px;
    left: 144px;
    top: 332px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #A9AFB9;
}

#checkbox {
    position: absolute;
    background-color: var(--background);
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    left: 119px;
    top: 332px;
    border: 1px solid #868686;
    border-radius: 4px;
}

button {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
    position: absolute;
    width: 334px;
    height: 51px;
    left: 119px;
    top: 372px;
    background: #FFC632;
    border-radius: 4px;
}

#registro {
    position: absolute;
    width: 235px;
    height: 21px;
    left: 167px;
    top: 437px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}


#esqueci {
    display: flex;
    position: absolute;
    width: 153px;
    height: 21px;
    left: 300px;
    top: 331px;
    justify-content: right;
}

span a {
    position: absolute;
    top: 0px;
    left: 122px;
}

#lsenha {
    position: absolute;
    top: 239px;
}

.simbol {
    width: 20px;
    height: 20px;
}

#imgemail {
    position: absolute;
    top: 187px;
    left: 131px;
}

#imgsenha {
    position: absolute;
    top: 280px;
    left: 131px;
}

@media only screen and (min-width: 400px) and (max-width: 1300px) {
    #imgbg {
        display: none;
        visibility: hidden;
    }
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        background: var(--background);
        justify-content: center;
        align-content: center;
        margin: auto;

    }
    #form {
        padding-bottom: 90px;
        background-color: var(--background);
    }
}
